
/*
- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
 }

body{
    font-family: 'Overpass' ,'sans-serif'; 
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    margin: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
button{
    font-family: inherit;
}
.main-container, .thank-you{
    padding: 1rem;
    height: 416px;
    width: 412px;
    border-radius: 30px;
    padding: 25px;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
border-radius: 30px;
}
.main-container img{
    background-color:#262E38; 
    padding:1rem;
    border-radius: 50%;
    margin-bottom: 30px;

}
.main-container h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 15px;
}
p{
    color: #969FAD;
    line-height: 24px;

    margin-bottom: 24px;
 
}
.main-container ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.main-container ul li .btn-selector{
    background-color:#262E38; 
    padding: 0.76rem;
    border-radius: 50%;
    height: 51px;
    width: 51px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    display: flex;
   align-items: center;
   justify-content: center;
    padding: 5px;
    letter-spacing: 0.2px;
      
    color: #7C8798;
    margin-bottom: 32px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}
.main-container ul li .btn-selector:hover{
    background-color:hsl(25, 97%, 53%) ;
    color: #FFFFFF;
}
.main-container ul li .btn-selector:focus{
    background-color:hsl(216, 12%, 54%) ;
    color: #FFFFFF;
}

.btn-submit{
    height: 45px;
width: 100%;

line-height: 19px;
letter-spacing: 2px;
font-size: 16px;
color: #FFFFFF;
background: #FC7614;
border-radius: 22.5px;
padding: 1em;
border: none;
text-transform: uppercase;
cursor: pointer; 
transition: 0.4s ease-in-out;
}
.btn-submit:hover{
    color:#FC7614  ;
background:  #FFFFFF;
}
.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.thank-you img{
    display: block;
    margin: 0 auto 2rem;
}
.thank-you  .gray{
    background: #262E38;
    border-radius: 22.5px;
    padding: 5px;
    text-align: center;
    border: none;
    color: #FC7614;
    height: 32px;
        width: 168px;
        font-size: 14px;
}

.hidden{
    display: none;;
}


.attribution {
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}